@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
}

/* .layout{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto 1fr auto);
  } */

  .home{
    /* border-top: 10px rgb(5, 148, 141) solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
  }
   /* Header */
   .header {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    padding: 20px 40px;
    background-color: #09684b;
    color: white;
    border-bottom: 10px solid #24e0bb;
    /* box-shadow: 0 4px 8px rgba(124, 124, 124, 0.2); */
    }

/* .header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    } */

/* .header nav {
    display: flex;
    gap: 20px;
    background-color: red;
    padding: 100px;
    } */

.header .nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.header .nav-link:hover {
  color: #24e0bb;
  text-shadow: #24e0bb 0px 0px 12px;
}

.header .nav-link.active {
  font-weight: bold;
  color: #24e0bb;
  /* text-shadow: #12cfa9b6 0px 0px 12px; */
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 3px; /* Space for the underline */
  transition: color 0.3s ease; /* Smooth transition for color */
}

/* This styles the underline when hovering */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #ffffffef;
  transition: width 0.3s ease;
  box-shadow: #ffffffda 0px 0px 12px;
}

.nav-link:hover::after {
  width: 100%; /* Full width underline on hover */
}

.top {
  background-image: url("./images/video.mp4");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: fixed; */
  border-radius: 2px;
  height: 60vh;
  position: relative;
}


.background-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .top {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  }
  
  
  
  

.top-text {
  position: absolute;
  font-family: "Montserrat", Helvetica, Arial;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 0 50px #000000;
  box-shadow: -2px 0 10px 10px #00000060;
  /* filter: blur(2px); */
  animation: fadeInSlideUp 4s ease-in-out forwards;
  /* background-color: #00000017; */
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, -80%);
  }
}

/* .bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  } */
.objects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0px 20px;
  a {
    text-decoration: none;
  }
}

.object {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  /* background-color: #333; */
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 65%;
    object-fit: cover;
  }

  .object-details {
    color: black;
    height: 35%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-top: 8px solid rgb(182, 122, 11); */
  }
  &:hover {
    box-shadow: #4e4e4eb7 0px 0px 15px 3px;
    /* text-shadow: #ffffffc2 0px 0px 5px; */
    border: 2px solid rgb(255, 255, 255);
    .object-details {
      background-color: #18bc9c;
      /* background-color: black; */
      color: rgb(255, 255, 255);
    }
  }
}

/* .object h1 h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
  } */

body {
  /* background-color: #f4f4f4; */
  /* color: #333; */
  line-height: 1.5;
}

/* Root Container */
/* #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: red;
  } */

footer {
  color: #ffffffde;
  padding: 15px;
  text-align: center;
  /* margin-top: 20px; */
  background-color: #09684b;
  border-top: 5px solid #24e0bb;
  
}

/* Footer */
/* footer {
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  border-top: 5px solid #24e0bb;
  } */

-------------------------
  /* LoginForm */
  
  /* .container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  } */
-------------------------
/* LoginForm */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.login-form {
  background-color: #dbdfdb;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  color: #000;
  background-color: #fff;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #575857;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #959795;
}

.message {
  text-align: center;
  font-size: 10px;
  color: red;
  font-family: Arial, sans-serif;
}

-----------------------------------
/* Contact Form */


.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  background-color: red;
}

.company-details {
  max-width: 400px;

  padding: 20px;
  background-color: #575857;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
}

.company-details p {
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #d6cece;
}

.company-details a {
  color: #74797e;
  text-decoration: none;
}

.company-details a:hover {
  text-decoration: underline;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  color: #b3a0a0;
}

.contact-form textarea {
  resize: none;
  height: 150px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: #575857;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.4s ease;
}

.contact-form button:hover {
  background-color: #959795;
  transform: translateY(-3px);
}

.success-message {
  text-align: center;
  margin-bottom: 20px;

  font-family: "Arial", sans-serif;
}

--------------------------------
/* Calendar Form */

/* .object-detail {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.calendar-section {
  margin-top: 20px;
}

.booking-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.booking-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  transition: background-color 0.3s ease, transform 0.4s ease;
}
.calendar-section,
.rdrDateRangeWrapper,
.rdrMonths {
  margin: 10px 0;
  text-align: center;
}

.rdrMonths {
  font-size: 18px;
  font-weight: bold;
}
.date-range-picker {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.date-range-picker .rdrCalendarWrapper {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.date-range-picker .rdrDateRangeWrapper {
  padding: 10px;
  border-radius: 8px;
}

.date-range-picker .rdrDayNumber span {
  color: #242424;
}

.date-range-picker .rdrSelected,
.date-range-picker .rdrStartEdge,
.date-range-picker .rdrEndEdge {
  background: #007bff;
}

--------------------------------
/* Booking form */


.Booking {
  max-width: 100px;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #f3f0f0;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ebe7e7;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #080808;
  border-radius: 4px;
  box-sizing: border-box;
  color: #140e0e;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
  color: #000;
}

button[type="submit"] {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.calculator {
  width: 70%;
  text-align: center;
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 4px;
  margin-top: 20px;
}

.calculator h3 {
  margin-bottom: 15px;
  color: #111010;
}

.calculator label {
  font-weight: bold;
  color: #140e0e;
}

.calculator input {
  background-color: #fff;
  color: #140e0e;
}

input[readonly] {
  background-color: #e9ecef;
}

input[type="text"],
input[type="number"] {
  margin-top: 5px;
}

.calculator input[type="text"],
.calculator input[type="number"] {
  padding: 8px;
  font-size: 14px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.input-group button {
  background-color: #007bff;
  color: white;

  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.input-group button:hover {
  background-color: #0056b3;
}

.input-group input[type="number"] {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 16px;
  color: #000;
}

.input-group input[type="number"]:focus {
  border-color: #007bff;

  outline: none;
}
.city-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.city-row > div {
  flex: 1;
  margin-right: 10px;
}

.city-row > div:last-child {
  margin-right: 0;
}

.city-row label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ac6767;
}

.city-row input[type="text"] {
  width: 60%;
  padding: 8px;
  border: 1px solid #3b3333;
  border-radius: 4px;
  box-sizing: border-box;
}

.city-row input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

-------------------------
/* Admin seite */

/* Admin Container */
.admin-container {
  display: flex;
}

/* Admin Sidebar */
.admin-sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.admin-sidebar h2 {
  color: #fff;
}

.admin-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar ul li {
  margin: 10px 0;
}

.admin-sidebar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
  background-color: #555;
  transition: background-color 0.3s;
}

.admin-sidebar ul li a:hover {
  background-color: #777;
}

/* Admin Content */
.admin-content {
  margin-left: 220px; /* Adjust based on the sidebar width */
  padding: 20px;
  width: calc(100% - 220px);
  background-color: #f4f4f4; /* Light background for content area */
}

/* Admin Toolbar Actions */
.toolbar-actions {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
}

.toolbar-button {
  padding: 10px;
  background-color: #555;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
  flex: 1;
  white-space: nowrap;
}

.toolbar-button:hover {
  background-color: #777;
}
.admin-sidebar{
  .active{
    background-color: rgb(255, 255, 255);
    color: black;
  }
}
--------------------------------
/* Add Guest */

.add-guest {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-guest h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.add-guest label {
  display: block;
  justify-content: center;
  margin-bottom: 5px;
  color: #666;
  font-weight: bold;
}

.add-guest .calendar-section {
  margin-bottom: 20px;
}

.add-guest .calendar-section h3 {
  margin-bottom: 10px;
  color: #333;
}

.add-guest .input-group {
  display: flex;
  align-items: center;
}

.add-guest .input-group button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.add-guest .input-group button:hover {
  background-color: #0056b3;
}

.add-guest .input-group input[type="number"] {
  text-align: center;
  width: 60px;
  margin: 0 5px;
}

.person-container {
  display: flex;
  gap: 20px;
}
.add-guest .calculator h3 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.add-guest .calculator > div {
  margin-bottom: 10px;
}

.add-guest .calculator input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.add-guest button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.add-guest button[type="submit"]:hover {
  background-color: #218838;
}

.add-guest button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-guest .date-range-picker {
  width: 100%;
}

.add-guest .error-message {
  color: red;
  margin-top: 10px;
}
-------------------------
/* Guest List */

/* ListGuests.css */
.list-guests {
  padding: 30px;
  font-family: Arial, sans-serif;
}

.list-guests h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.list-guests table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.list-guests th,
.list-guests td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.list-guests th {
  background-color: #7e7a7a;
  color: #f1efef;
}

.list-guests p {
  text-align: center;
  color: #666;
}


-------------------------------

/* AdminCalendar */

.container-calendar {
  display: flex; 
  flex-direction: row; 
  width: 100%; 
  height: 100vh; 
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  .object-table {
  width: 20%;
  height: 100%; 
  background-color: #ffffff; 
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd; 
  box-sizing: border-box; 
  }
  
  .admin-calendar {
  width: 80%; 
  height: 100%; 
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  box-sizing: border-box; 
  }
  
  .object-table table {
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
  }
  
  .object-table th, .object-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; 
  }
  
  .object-table th {
  background-color: #f0f0f0;
  font-weight: bold;
  }
  
  
  .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  }
  
  .calendar-header button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  }
  
  .calendar-header button:hover {
  background-color: #0056b3;
  }
  
  h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  }
  