@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


:root {
  --font: Montserrat, Arial, sans-serif, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --main-color: #939fad;
  --secondary-color: #1d1d4e;
  --hover-color: #e2e4d4;
  --color: #080808;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-extra-large: 5rem;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  height: 100%;
  box-sizing: border-box;
}

main {
  padding-bottom: 350px;
  margin-top: 100px;
  background-color: var(--hover-color);
}

 
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/*Booking*/



/*Contact*/

.contact-form {
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
margin-top: 20px;
}


/*Footer*/

footer {
  text-align: center;
  background-color: var(--main-color);
  border-top: 5px solid var(--secondary-color);
  padding: 1rem;
  color: white;
}

/* Header/Nav/logo/dropdown */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--secondary-color);
  flex-wrap: wrap;
  border-bottom: 3px solid var(--secondary-color);
  position: fixed; 
  width: 100%; 
  z-index: 1;
}

header nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-right: 3rem;
  
}

header nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: var(--font-size-small);
  transition: color 0.3s;
 
}

header nav .active {
  color: var(--hover-color);
  font-weight: bold;

}
/* header .logo {
  flex: 1;
  display: flex;
  align-items: center;
} */


header .logo a img {
  width: 50px;
  height: 70px; 
  rotate: -90deg;
  margin-left: 20px;
}
/* header .logo {
  flex: 1;
} */
/* header .logo a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
} */

header .logout {
  background-color: var(--hover-color);
  font-size: var(--font-size-small);
  color: var(--secondary-color);
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.language-selector {
  position: relative;
  margin-left: 1rem;
  cursor: pointer;
}

.language-icon {
  font-size: 1.5rem;

}

.dropdown-menu {
  position: absolute;
  top: 1.5rem;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0.5rem 0;
  z-index: 1;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

/* header .logout:hover {
  background-color: wheat;
  color: var(---color);
} */


/*Home*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 40px;
  /* padding-bottom: 20px; */
  margin-bottom: 20px;
  position:relative;

  
}
.top h1 {
  position: absolute;
  top: 25%;
  left: 45%;
  color: var(--secondary-color);
  font-size: var(--font-size-extra-large);
  transform: translate(-80%, -60%);
  z-index: 1;
  opacity: 0.8;
}

.home .top video {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  opacity: 0.4;
}



/* video Home background*/

.video-background {
 
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; 
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  opacity: 0.2; 
  pointer-events: none; 
}

.objects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;

}

.objects-container a {
  text-decoration: none;
  color: black;
}

.object {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 400px;
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.object .object-details {
  height: 50%;
  padding: 20px;
}

.object .object-details h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.object .object-details h3 {
  font-size: 18px;
  color: #666;
  margin: 10px 0;
}

.object .object-details p {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.object:hover {
  box-shadow: 0 8px 20px 2px #00000046;
  transform: translateY(-10px);
}

.object img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


/*Login*/





/*Logout*/




/*Object Details*/

.apart-details{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 20px;
}

.single-apart{
  /* border: solid 2px black; */
  width: 80%;
}

.single-top{
  /* border: solid 2px red; */
  display: flex;
  gap: 5px;
}

.single-main-img{
  width: 50%;
  /* border: solid 5px green; */
  img{
    width: 100%;
    object-fit: cover;
  }
}
.single-images{
  width: 50%;
  /* border: solid 5px #80007a; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  img{
    width: 32.5%;
    object-fit: cover;
  }
}


/*  Social-Media-Links */

.social-media {
  position: fixed;
  right: 0;
  bottom: 0 ;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  cursor: pointer;
}

.social-media a {
 
  padding: 0.5rem;
  background-color: #333;
  opacity: 0.6 ;
  color: white;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.social-media a:hover {
  background-color: #555;
}

/*Object*/



-------------------------
/* Admin-Panel */


.admin-sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding: 1rem;
}

.admin-sidebar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  padding: 0.5rem;
  /* border-bottom: 2px solid black; */
}

.admin-sidebar .active {
  border: solid 2px rgb(0, 0, 0);
}



/*Add Guest*/

.add-guest{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  
 
}
.add-guest input{
  width: 100%;
  padding: 5px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Add Object */

.add-apartment{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  label {
    font-weight: bold;
  }
}

/*Admin Calendar*/

.admin-container-calendar{
  width: 89vw;
}



/*List Guests*/

 .reservations-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 20px 20px;
}



/*Message*/

.object-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.object-message h1{
  margin-left: 20px;
  font-size: 2rem;
  color: #333;
 
}

.object-message table th,
.object-message table td {
  border: 1px solid #bbb0b0;
  padding: 8px;
  text-align: center;
}

.reservations-table th,
.reservations-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}


 
@media (max-width: 768px) {
  header {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  header nav {
    gap: 1rem;
  }

  header .logout {
    padding: 4px;
  }

  header nav a {
    font-size: 1.2rem;
  }

  header .logo a {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0.7rem;
  }

  header .logout {
    font-size: small;
    padding: 2px;
  }

  header .logo a {
    font-size: 1.2rem;
  }

  header nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  header nav a {
    font-size: 1rem;
  }
}



header nav {
gap: 1rem;
}

header .logout {
padding: 4px;
}

header nav a {
font-size: 1.2rem;
}

header .logo a {
font-size: 1.5rem;
}


@media (max-width: 480px) {
header {
padding: 0.7rem;
}

header .logout {
font-size: small;
padding: 2px;
}

header .logo a {
font-size: 1.2rem;
}

header nav {
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
}

header nav a {
font-size: 1rem;
}
}

   