@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


:root {
  --font: Montserrat, Arial, sans-serif, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --main-color: #939fad;
  --secondary-color: #1d1d4e;
  --hover-color: #e2e4d4;
  --color: #080808;
  --color-white: #fff;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-extra-large: 4rem;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  height: 100vh;
  box-sizing: border-box;
}

main {

  background-color: var(--hover-color);
  margin-top: 100px;
 
}
 
#root {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  min-height: 100vh;
}

/*Footer*/

footer {
 
  text-align: center;
  background-color: var(--main-color);
  border-top: 5px solid var(--secondary-color);
  padding: 1rem;
}



/* Header/Nav/logo/dropdown */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--main-color);
  color: var(--secondary-color);
  flex-wrap: wrap;
  border-bottom: 3px solid var(--secondary-color);
  position: fixed; 
  width: 100%; 
  z-index: 2;
  
}

header nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-right: 3rem;
  
}

header nav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: var(--font-size-small);
  transition: color 0.3s;
 
}

header nav .active {
  color: var(--hover-color);
  font-weight: bold;

}
/* header .logo {
  flex: 1;
  display: flex;
  align-items: center;
} */


header .logo a img {

  height: 3rem;
  rotate: -90deg;
  margin-left: 20px;
} 
/* 
header .logout {
  background-color: var(--hover-color);
  font-size: var(--font-size-small);
  color: var(--secondary-color);
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
 }  */

.language-selector {
  position: relative;
  margin-left: 1rem;
  cursor: pointer;
}

.language-icon {
  font-size: 1.5rem;

}

.dropdown-menu {
  position: absolute;
  top: 1.5rem;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0.5rem 0;
  z-index: 1;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

/* header .logout:hover {
  background-color: wheat;
  color: var(---color);
} */



/*Contact*/

.contact-container {
margin-top: 50px;
padding: 50px;
background-color: var(--main-color);
z-index: 1;
border-radius: 10px;
opacity: 0.5 ;
box-shadow: inset 2px 5px 20px var(--secondary-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-form input {
width: 100%;
padding: 5px;
background-color: var(--color-white);
color: var(--color-white);
font-size: var(--font-size-small);
border-radius: 5px;
border: 1px solid #ccc;
}

.contact-form textarea {
width: 100%;
padding: 5px;
background-color: var(--color-white);
font-size: var(--font-size-small);
border-radius: 5px;
border: 5px solid #ccc;
}


.contact-form button {
width: 80%;
height: 40px;
padding: 5px;
background-color: var(--secondary-color);
color: white;
font-size: var(--font-size-small);
border: none;
border-radius: 5px;
cursor: pointer;
}

.contact-form button:hover {
background-color: var(--main-color);
border: 1px solid var(--secondary-color);
}

.company-details   {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: var(--color-white);
  z-index: 1;
  border-radius: 50px;
  border: 14px solid var(--secondary-color);
  opacity: 0.5 ;
  box-shadow: inset 2px 5px 20px var(--main-color);
}

.company-details a {
  font-size: var(--font-size-small);
 color: var(--main-color);
}



/*Home*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 20px;
  min-height: calc(100vh - 200px); 
  background-color: var(--hover-color);
}

.home .top h1 {
  position: absolute;
  top: 10rem;
  left: 38%;
  color: var(--secondary-color);
  font-size: var(--font-size-extra-large);
  transform: translate(-80%, -60%);
  z-index: 1;
  opacity: 0.8;
}

.home .top video {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  opacity: 0.4;
}



/* video Home background*/

.video-background {
 
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; 
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  opacity: 0.2; 
  pointer-events: none; 
}

.objects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;

}

.objects-container a {
  text-decoration: none;
  color: black;
}

.object {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 400px;
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.object .object-details {
  height: 50%;
  padding: 20px;
}

.object .object-details h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.object .object-details h3 {
  font-size: 18px;
  color: #666;
  margin: 10px 0;
}

.object .object-details p {
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
}

.object:hover {
  box-shadow: 0 8px 20px 2px #00000046;
  transform: translateY(-10px);
}

.object img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


/*Login*/


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-bottom: 5px solid var(--secondary-color);
  background-color: var(--main-color);
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  z-index: 1;
}

.login-form {
  width: 100%;
}

.login-form input {
  width: 100%;
  padding: 8px;
  font-size: var(--font-size-small);
  border-radius: 10px;
  border: 5px solid #ccc;
  margin-bottom: 1rem;
}

.login-form button {
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: var(--secondary-color);
  color: var(--color-white);
  font-size: var(--font-size-small);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: var(--secondary-color);
  color: var(--color-white);
}

.login-form .message {
  color: var(--secondary-color);
  font-size: var(--font-size-small);
  text-align: center;
}

.login-form p {
  margin-top: 1rem;
  font-size: var(--font-size-small);
  text-align: center;
}


/*Logout*/




/*Object Details*/

.apart-details{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 70px;
}

.single-apart{
  /* border: solid 2px black; */
  width: 90%;
}

.single-top{
  /* border: solid 2px red; */
  display: flex;
  gap: 10px;
}

.single-main-img{
  width: 50%;
  /* border: solid 5px green; */
  img{
    width: 100%;
    object-fit: cover;
  }
}
.single-images{
  width: 60%;
  /* border: solid 5px #80007a; */
  display: flex;
  flex-direction: row;
  gap: 5px;
  img{
    width: 32.5%;
    height: 50%;
    object-fit: cover;
  }

}

/*  Social-Media-Links */

.social-media {
  position: fixed;
  right: 0;
  bottom: 0 ;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  cursor: pointer;
}

.social-media a {
 
  padding: 0.5rem;
  background-color: #333;
  opacity: 0.6 ;
  color: white;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.social-media a:hover {
  background-color: #555;
}

/*Object*/



-------------------------
/* Admin-Panel */



.admin-sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 80px;
  padding: 1rem;
  
}

.admin-sidebar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  padding: 0.5rem;
  
 }  
 .admin-sidebar .active {
  border: solid 2px rgb(0, 0, 0);
} 
 

  .admin-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5rem;
}




/*Add Guest*/

.add-guest {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.add-guest h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--color-white);
  text-align: center;
}

.add-guest form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-guest label {
  font-size: 16px;
  color: var(--color-white);
  margin-bottom: 5px;
}

.add-guest input,
.add-guest select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}



.add-guest .input-group {
  display: flex;
  align-items: center;
}

.add-guest .input-group button {
  width: 40px;
  height: 40px;
 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}


.add-guest button,
.add-guest button {
  padding: 12px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

.people-container {
  display: flex;
  
  gap: 200px; /* Abstand zwischen den Gruppen */
  margin-top: 20px;
}

.people-container .people-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Abstand zwischen Label und Eingabefeld */
}

.people-container label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 5px; /* Abstand zwischen Button und Eingabefeld */
}

.input-group button {
  width: 30px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}



.input-group input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}



/* Add Object */

.add-apartment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Erhöht den Abstand zwischen den Elementen */
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.add-apartment label {
  font-weight: bold;
  margin-bottom: 5px; /* Abstand zwischen Label und Eingabefeld */
  color: var(--color-white);
  align-self: flex-start;
}

.add-apartment input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; /* Abstand zwischen Eingabefeldern */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/*Admin Calendar*/

.admin-container-calendar{
  width: 89vw;
}



/*List Guests*/

.reservations-table {
  margin: 20px auto;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
}

.reservations-table h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.reservations-table button {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}


.reservations-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.reservations-table th,
.reservations-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.reservations-table th {
  background-color: #f1f1f1;
  color: var(--secondary-color);
  font-weight: bold;
}

.reservations-table td button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservations-table td button:hover {
  opacity: 0.9;
}





/*Message*/

.contact-message-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-message-container h1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.object-message {
  margin: 20px auto;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
}
.object-message table {
  width: 100%;
  border-collapse: collapse;
}

.object-message th,
.object-message td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.object-message th {
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: 600;
}


.object-message button {
  background-color: var(--hover-color);
  color: var(--color);
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.object-message button:hover {
  background-color: var(--secondary-color);
}

.delete-all-button {
 
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}





@media (max-width: 768px) {
  header {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  header nav {
    gap: 1rem;
  }

  header .logout {
    padding: 4px;
  }

  header nav a {
    font-size: 1.2rem;
  }

  header .logo a {
    font-size: 1.5rem;
  }


}

.home h1 {
  font-size: --var(--font-size-extra-large);
  top: 10%;
  left: 35%;
  transform: translate(-50%, -40%);
}

.add-guest {
  padding: 15px;
  max-width: 100%;
}

.add-guest input,
.add-guest select,
.add-guest .input-group input {
  width: 100%;
}

.reservations-table {
  padding: 15px;
}

.reservations-table table,
.reservations-table th,
.reservations-table td {
  font-size: 12px;
  padding: 8px;
}

.reservations-table button {
  padding: 8px 10px;
  font-size: 12px;
}


@media (max-width: 480px) {

 

  header {
    padding: 0.7rem;
  }

  header .logout {
    font-size: small;
    padding: 2px;
  }

  header .logo a {
    font-size: 1.2rem;
  }

  header nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  header nav a {
    font-size: 1rem;
  }

  header nav {
    gap: 1rem;
    }
    
    header .logout {
    padding: 4px;
    }
    
    header nav a {
    font-size: 1.2rem;
    }
    
    header .logo a {
    font-size: 1.5rem;
    }

  
  .home h1 {
    font-size: --var(--font-size-extra-large);
    align-items: center;
  }


}




