@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


:root {
  --font: Montserrat, Arial, sans-serif, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --main-color: #000000;
  --secondary-color: #0a218c;
  --third-color: #33658A;
  --background-color: #f2eee1;
  --fourth-color:#ffffff;
  --color: #080808;
  --color-white: #fff;
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-extra-large: 4rem;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  height: 100vh;
  box-sizing: border-box;
}

main {
  padding-bottom: 70px;
}
 
#root {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* Header/Nav/logo/dropdown */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--secondary-color);
  font-size: var(--font-size-medium);

background: rgba(255, 255, 255, 0.142);
box-shadow: 0 4px 30px rgba(109, 109, 109, 0.194);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

  position: fixed; 
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.3s;
}

header nav .active {
  color: orange;
  padding: 5px;
  border: solid 2px orange;;
  font-weight: 600;
}

header .logo a {
  flex: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: var(--font-size-large);
  font-weight: 600;
}

header .logout {
  background-color:transparent;
  font-size: var(--font-size-medium);
  color: var(--secondary-color);
  padding: 3px;
  border: solid 2px var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--secondary-color);
    color: var(--color-white);
  }
 } 

 /*Home*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:40px; 
  min-height: 100vh; 
  background-color: var(--hover-color);
}

.home .top {
  width: 100%;
  height: 80vh;
  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.home .top h1 {
  position: absolute;
  top: 13rem;
  left: 20%;
  color: rgba(255, 255, 255, 0.846);
  text-shadow: 0 4px 20px #00eaffbb;
  font-size: 6rem;
}

 /*Footer*/

footer {
  text-align: center;
  background-color: var(--main-color);
  color: white;
  padding: 0.8rem;
}

/*Objects-container*/

.objects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.objects-container a {
  text-decoration: none;
  color: black;
}

.object {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 400px;
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.object .object-details {
  height: 50%;
  padding: 0 10px;
}

.object:hover {
  box-shadow: 0 8px 20px 2px #0000003a;
  transform: translateY(-10px);
  border: solid 1px black;
}

.object img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/*Booking*/

.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 12px #0000002b;
  margin-top: 120px ;
  width: 30%;
  background-color: yellowgreen;
}

.booking-container .calendar-section {
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 12px #0000002b;
  border-radius: 8px;
  padding: 3px;
  border: solid 5px rgb(249, 207, 0);
}

.booking-container .people-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: solid 5px rgb(16, 57, 181);
  input{
    text-align: center;
    border-radius: 4px;
    border: solid 5px red;
  }
  button{
    border-radius: 4px;
    border: solid 5px red;
  }
}



.input-group button {
 
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: solid 5px rgb(13, 255, 0);
}


.input-group input {
  width: 50px;
  text-align: center;
  margin: 0 5px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  border: solid 5px rgb(0, 68, 255);
}

 .price-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: solid 5px rgb(255, 0, 0);
}



.price-calculator label {
  display: block;
  margin-bottom: 5px;
  border: solid 5px rgb(255, 0, 0);
}

.price-calculator input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  border: solid 5px rgb(255, 0, 0);
}


/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
} */


button {
  cursor: not-allowed;
}

.rdrCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rdrWeekDays {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f0f0;
  
  padding: 10px 0;
  font-weight: bold;
}

.rdrWeekDay {
  flex: 1;
  text-align: center;
  
}

.rdrDays {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  width: 100%;
}

.rdrDay {
  flex: 1 0 calc(100% / 7); /* Gleiche Breite wie die Wochentage */
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;


  margin-top: 5px; /* Versteckt doppelte Ränder */
}




/*Contact*/

.contact-container {
margin-top: 50px;
padding: 50px;
background-color: var(--main-color);
z-index: 1;
border-radius: 10px;
opacity: 0.5 ;
box-shadow: inset 2px 5px 20px var(--secondary-color);
color: black;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: black;
}

.contact-form input {
width: 100%;
padding: 5px;
background-color: var(--color-white);
color: black;
font-size: var(--font-size-small);
border-radius: 5px;
border: 1px solid #ccc;
}

.contact-form textarea {
width: 100%;
padding: 5px;
background-color: var(--color-white);
font-size: var(--font-size-small);
border-radius: 5px;
border: 5px solid #ccc;
}


.contact-form button {
width: 80%;
height: 40px;
padding: 5px;
background-color: var(--secondary-color);
color: white;
font-size: var(--font-size-small);
border: none;
border-radius: 5px;
cursor: pointer;
}

.contact-form button:hover {
background-color: var(--main-color);
border: 1px solid var(--secondary-color);
}

.company-details   {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-top: 20px;
  background-color: var(--secondary-color);
  color: var(--color-white);
  z-index: 1;
  border-radius: 50px;
  border: 14px solid var(--secondary-color);
  opacity: 0.5 ;
  box-shadow: inset 2px 5px 20px var(--main-color);
}

.company-details a {
  font-size: var(--font-size-small);
 color: var(--main-color);
}







/*Login*/


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-bottom: 5px solid var(--secondary-color);
  background-color: var(--main-color);
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  z-index: 1;
}

.login-form {
  width: 100%;
}

.login-form input {
  width: 100%;
  padding: 8px;
  font-size: var(--font-size-small);
  border-radius: 10px;
  border: 5px solid #ccc;
  margin-bottom: 1rem;
}

.login-form button {
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: var(--secondary-color);
  color: var(--color-white);
  font-size: var(--font-size-small);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: var(--secondary-color);
  color: var(--color-white);
}

.login-form .message {
  color: var(--secondary-color);
  font-size: var(--font-size-small);
  text-align: center;
}

.login-form p {
  margin-top: 1rem;
  font-size: var(--font-size-small);
  text-align: center;
}


/*Logout*/




/*Object Details*/

.apart-details {
  max-width: 900px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}

.single-apart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Styling for the main and additional images */
.single-main-img img {

  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 500px;
  object-fit: cover;
}

.single-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.single-images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.single-images img:hover {
  transform: scale(1.05);
}

/* Styling for the description and price */

.single-description {
  display: flex;
  flex-direction: column;
  gap: 12px; 
  padding: 20px; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.single-description h2 {
  font-size: 2rem; 
  margin-bottom: 12px; 
  color: #222; 
  font-weight: 600; 
  line-height: 1.3; 
}

.single-description p {
  flex-wrap: wrap;
  font-size: 1rem; 
  margin-bottom: 10px;
  color: #555; 
  line-height: 1.6; 
}

.single-description p:last-child {
  font-size: 1.125rem; 
  font-weight: 700; 
  color: #d32f2f; 
  line-height: 1.5;
  text-transform: uppercase; 
}


/* Styling for the map container */
.map-container {
  margin-top: 20px;
  height: 380px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Button for booking */
.booking-button {
  background-color: #c12f2f;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.booking-button:hover {
  background-color: #707711;
}

/* Styling the Table */

.single-price {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.single-price h3 {
  font-size: 16px;
  font-weight: bold;
  color: #0a1c51;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #0a1c51;
  padding-bottom: 10px;
}

/* Styling the Pricing Table */
.single-price table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
}

.single-price th, 
.single-price td {
  padding: 12px;
  text-align: center;
  border: 1px solid #041269;
}

/* Table Header */
.single-price th {
  background-color: #69730c;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Table Body - Even and Odd Rows */
.single-price tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.single-price tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Table Data */
.single-price td {
  font-size: 15px;
  color: #333;
}

/* Hover Effect for Rows */
.single-price tbody tr:hover {
  background-color: #ddd;
}



/*  Social-Media-Links */


/* Admin-Panel */



.admin-sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 80px;
  padding: 1rem;
  position: fixed;
  
}

.admin-sidebar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  padding: 0.5rem;
  
 }  
 .admin-sidebar .active {
  border: solid 2px rgb(0, 0, 0);
} 
 

  .admin-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5rem;
}




/*Add Guest*/

.add-guest {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.add-guest h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--color-white);
  text-align: center;
}

.add-guest form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-guest label {
  font-size: 16px;
  color: var(--color-white);
  margin-bottom: 5px;
}

.add-guest input,
.add-guest select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}



.add-guest .input-group {
  display: flex;
  align-items: center;
}

.add-guest .input-group button {
  width: 40px;
  height: 40px;
 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}


.add-guest button,
.add-guest button {
  padding: 12px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

.people-container {
  display: flex;
  
  gap: 200px; /* Abstand zwischen den Gruppen */
  margin-top: 20px;
}

.people-container .people-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Abstand zwischen Label und Eingabefeld */
}

.people-container label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
  font-weight: bold;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 5px; /* Abstand zwischen Button und Eingabefeld */
}

.input-group button {
  width: 30px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


.input-group input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.add-guest .calendar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.rdrCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.rdrWeekDays {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px 0;
  font-weight: bold;
}

.rdrWeekDay {
  flex: 1;
  text-align: center;
}

.rdrDays {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.rdrDay {
  flex: 1 0 calc(100% / 7); /* Gleiche Breite wie die Wochentage */
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: -1px; /* Versteckt doppelte Ränder */
}

/* Add Object */

.add-apartment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Erhöht den Abstand zwischen den Elementen */
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.add-apartment label {
  font-weight: bold;
  margin-bottom: 5px; /* Abstand zwischen Label und Eingabefeld */
  color: var(--color-white);
  align-self: flex-start;
}

.add-apartment input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; /* Abstand zwischen Eingabefeldern */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/*Admin Calendar*/

.admin-container-calendar{
  width: 89vw;
}



/*List Guests*/

.reservations-table {
  margin: 20px auto;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
}

.reservations-table h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.reservations-table button {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}


.reservations-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.reservations-table th,
.reservations-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.reservations-table th {
  background-color: #f1f1f1;
  color: var(--secondary-color);
  font-weight: bold;
}

.reservations-table td button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservations-table td button:hover {
  opacity: 0.9;
}





/*Message*/

.contact-message-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-message-container h1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.object-message {
  margin: 20px auto;
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
}
.object-message table {
  width: 100%;
  border-collapse: collapse;
}

.object-message th,
.object-message td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.object-message th {
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: 600;
}


.object-message button {
  background-color: var(--hover-color);
  color: var(--color);
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.object-message button:hover {
  background-color: var(--secondary-color);
}

.delete-all-button {
 
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}





@media (max-width: 768px) {
  header {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  header nav {
    gap: 1rem;
  }

  header .logout {
    padding: 4px;
  }

  header nav a {
    font-size: 1.2rem;
  }

  header .logo a {
    font-size: 1.5rem;
  }


}

.home h1 {
  font-size: --var(--font-size-extra-large);
  top: 10%;
  left: 35%;
  /* transform: translate(-50%, -40%); */
}

.add-guest {
  padding: 15px;
  max-width: 100%;
}

.add-guest input,
.add-guest select,
.add-guest .input-group input {
  width: 100%;
}

.reservations-table {
  padding: 15px;
}

.reservations-table table,
.reservations-table th,
.reservations-table td {
  font-size: 12px;
  padding: 8px;
}

.reservations-table button {
  padding: 8px 10px;
  font-size: 12px;
}


@media (max-width: 480px) {

 

  header {
    padding: 0.7rem;
  }

  header .logout {
    font-size: small;
    padding: 2px;
  }

  header .logo a {
    font-size: 1.2rem;
  }

  header nav {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }

  header nav a {
    font-size: 1rem;
  }

  header nav {
    gap: 1rem;
    }
    
    header .logout {
    padding: 4px;
    }
    
    header nav a {
    font-size: 1.2rem;
    }
    
    header .logo a {
    font-size: 1.5rem;
    }
  
    .home .top h1 {
      position: absolute;
      top: 12rem;
      left: 7%;
      color: #ffffffb8;
      text-shadow: 0 4px 20px #00eaff79;
      font-size: 4rem;
    }

    .apart-details {
      margin-top: 155px;
    }
 

}




.admin-sidebar{
  margin-top: 200px;
}